include LICENSE
include README.md
include requirements.txt
include requirements-test.txt
include tox.ini
recursive-include tests *
recursive-exclude tests/__pycache__ *
recursive-include croplands_api *
