# Need cffi so that that python build pack installs libffi
cffi

# heroku only
gunicorn

# Flask
Flask==0.10.1

# Flask Extensions
Flask-Cache
Flask-Compress
Flask-Migrate
Flask-Restless==0.16.0
Flask-SQLAlchemy
Flask-Script
Flask-JWT
Flask-Testing
Flask-Limiter
Flask-Celery-Helper
Flask-Mail

# Other
passlib
earthengine-api
google-api-python-client
uritemplate
celery
redis
boto
requests
Pillow
Shapely
psycopg2
beautifulsoup4
pyproj
geopy
six
newrelic
#locustio
