# Need cffi so that that python build pack installs libffi
cffi

# heroku only
gunicorn

# Flask
Flask==0.10.1

# Flask Extensions
Flask-Cache==0.13.1
Flask-Compress==1.0.2
Flask-Migrate
Flask-Restless==0.16.0
Flask-SQLAlchemy==1.0
Flask-Script==2.0.5
Flask-JWT==0.2.0
Flask-Testing
Flask-Limiter==0.7.8
Flask-Celery-Helper==1.1.0
Flask-Mail

# Other
passlib==1.6.2
earthengine-api==0.1.39
celery==3.1.17
redis>=2.10.3
boto==2.32.1
requests==2.3.0
Pillow==2.6.1
Shapely==1.5.6
psycopg2

newrelic
locustio