<div class="container container-static-nav">
    <div class="row" style="padding-top: 2%">
        <div class="col-sm-6 col-sm-offset-1" style="height:400px;">
            <leaflet id="map"
                     layers="layers"
                     center="center"
                     markers="markers">
            </leaflet>
        </div>
        <div class="col-sm-3">
            <div class="well well-sm clearfix">
                <button class="btn btn-primary btn-block"
                        ng-click="skip()"
                        ng-repeat="type in landUseType.choices" blur>{{ type.label }}</button>
                <button class="btn btn-default btn-block"
                        ng-click="skip()"
                        blur>Skip</button>
            </div>
        </div>
    </div>
</div>