<div class="jumbotron jumbotron-banner container-static-nav">
    <div class="container center">
        <h2>Global Food Security Analysis-Support Data at 30 Meters (GFSAD30)
            Project</h2>

        <p>The Overarching Goal of the GFSAD30 project is to map and produce cropland
            products of the
            world at 30 meter resolution.</p>

        <p><a class="btn btn-lg btn-primary" href="#About" role="button">Learn More</a>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail thumbnail-noborder center">
                <a href="/map">
                    <img class="img-circle"
                         src="http://cache.croplands.org/static/images/map_box.jpg"
                         alt="Map">
                </a>

                <h2>Global Map</h2>

                <p>We need your help to map the world's croplands. When you contribute, you help to
                    refine the accuracy
                    of the global cropland maps!</p>

                <p><a class="btn btn-danger" href="/map" role="button">Contribute &raquo;</a></p>

            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail thumbnail-noborder center">
                <a href="#Methods">
                    <img class="img-circle" src="http://cache.croplands.org/static/images/sat.jpg"
                         alt="Cropland Alogrithms">
                </a>

                <h2>Methods</h2>

                <p>Our project uses a variety of remote sensing techniques for deriving a global
                    cropland map. By
                    remote, we mean satellite imagery!</p>

                <p><a class="btn btn-danger" href="#Methods" role="button">Learn More &raquo;</a>
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail thumbnail-noborder center">
                <a href="/#Publications">
                    <img class="img-circle"
                         src="http://cache.croplands.org/static/images/chart.jpg"
                         alt="Publications">
                </a>

                <h2>Publications</h2>

                <p>Read the relevant publications that have contributed to our work and the
                    'knowledge
                    gateway' that we
                    hope to provide to the the scientific community.</p>


                <p><a class="btn btn-danger" href="#Publications" role="button">Read
                    More &raquo;</a>
                </p>
            </div>
        </div>
    </div>
</div>
<a name="About" class="shifted-anchor">&nbsp;</a>
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <h2>About the Project</h2>

                <p>The global population has just topped the 7 billion mark – a stark reminder of
                    the
                    greatest threat facing humanity in the 21st Century - food security. Society
                    faces
                    real challenges
                    ahead, particularly in managing water and food supplies, as well as energy, and
                    they are all
                    intimately connected in achieving global food security.</p>

                <p>By the 2030s, the world will need 50% more food and energy and 30% more fresh
                    water.
                    So
                    how can we feed a burgeoning global population in a way that is both equitable
                    and
                    environmentally
                    sustainable? In practical terms our future will be influenced as much, if not
                    more,
                    by a rich mix of
                    population growth and socioeconomic development, and fundamentally by the need
                    to
                    produce more food
                    with fewer resources. Indeed, these factors are themselves the very reasons why
                    we
                    now face a
                    changing climate.</p>

                <p>Unless a concerted effort is made and collective action taken, we risk global
                    food shortages, scarce water and insufficient energy - unleashing public
                    unrest,
                    cross-border conflicts and mass migration as people flee the worst-affected
                    regions of the world and
                    seek refuge in ‘safe havens.’ Additionally, with climate change, we have the
                    making of a ‘perfect
                    storm’ on the horizon. So what needs to be done?</p>
            </div>
            <div class="col-sm-6">
                <p>Part of the answer lies in understanding global croplands, both rainfed and
                    irrigated,
                    how they are used, their extents and how they can be better managed,
                    particularly
                    since they account
                    for nearly 80% of all freshwater abstractions. There is a need to identify
                    regions
                    where there is
                    scope for improving cropland water productivity to reduce the ‘yield gap’ – the
                    difference between
                    potential and actual yield – a widespread problem constraining food production
                    in
                    both the developed
                    and developing world. And there is a need to understand better the links
                    between
                    food production and
                    water scarcity, and the impacts that climate change might have on global
                    croplands.
                    Here
                    technologies such as remote sensing will play an increasingly critical role –
                    providing new spatial
                    information to help manage croplands in a more productive and sustainable
                    way.</p>

                <p>The GFSAD is a NASA funded project to provide high resolution global cropland
                    data
                    and
                    their water use that contributes towards global food security in the
                    twenty-first
                    century. The
                    GFSAD30 products are derived through multi-sensor remote sensing data (e.g.,
                    Landsat, MODIS, AVHRR),
                    secondary data, and field-plot data and aims at documenting cropland dynamics
                    from
                    1990 to 2017.</p>

                <p>Read more at: <a
                        href="http://geography.wr.usgs.gov/science/croplands/index.html">USGS.gov</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <a name="Publications" class="shifted-anchor">&nbsp;</a>

    <div class="row">
        <div class="col-md-5">
            <h2>Our Publications</h2>

            <p class="lead">Read the relevant publications that have contributed to our work and
                the 'knowledge
                gateway' that we hope to provide to the the scientific community.</p>
        </div>
        <div class="col-md-7">

            <p>Thenkabail P.S., Knox J.W., Ozdogan, M., Gumma, M.K., Congalton, R.G., Wu, Z.,
                Milesi, C.,
                Finkral, A., Marshall, M., Mariotto, I., You, S. Giri, C. and Nagler, P. 2012.
                Assessing future
                risks to agricultural productivity, water resources and food security: how can
                remote sensing
                help?. Photogrammetric Engineering and Remote Sensing, August 2012 Special Issue on
                Global
                Croplands: Highlight Article. 78(8): 773-782.</p>

            <p>Teluguntla, P., Thenkabail, P.S., Xiong, J., Gumma, M.K., Giri, C., Milesi, C.,
                Ozdogan, M.,
                Congalton, R., Tilton, J., Sankey, T.R., Massey, R., Phalke, A., and Yadav, K.
                2014. Global
                Cropland Area Database (GCAD) derived from Remote Sensing in Support of Food
                Security in the
                Twenty-first Century: Current Achievements and Future Possibilities. Chapter 7,
                Vol. II. Land
                Resources: Monitoring, Modelling, and Mapping, Remote Sensing Handbook edited by
                Prasad S.
                Thenkabail.</p>

        </div>
        <div class="col-md-5 ">

        </div>
    </div>
    <!-- /END THE FEATURETTES -->

</div>

<div class="container">
    <a name="Methods" class="shifted-anchor">&nbsp;</a>

    <div class="row">
        <div class="col-md-5 hidden-sm hidden-xs">
            <img class="centertte-image img-responsive img-rounded"
                 src="http://cache.croplands.org/static/images/india.jpg">
        </div>
        <div class="col-md-7">
            <h2>Our Methods</h2>

            <p class="lead">Our map products are created with data such as Landsat and Modis
                imagery using
                remote sensing techniques by analyzing millions of image pixels.</p>

            <p> For example, we combine temporal patterns of the Normalized Vegetation Difference
                Index(<a
                        href="http://en.wikipedia.org/wiki/Normalized_Difference_Vegetation_Index">NVDI</a>)
                with
                our reference data to classify the world's cropland by the following measures.
                <small>(That is the very simplified version. See our <a href="#publications">publications</a>
                    for
                    details.)
                </small>
            </p>
            <ul>
                <li>Cropland or NonCropland</li>
                <li>Irrigation or Rainfed</li>
                <li>Crop Types</li>
                <li>Intensity of Cropland</li>
            </ul>
            <p>Note: The more reference data that we have, the more that we can refine our
                algorithms
                and test their effectiveness. You can help our project by providing us with
                additional reference
                locations.</p>
            <blockquote>
                <p>Remotely sensed data provide the only source of information to make a complex
                    global
                    agricultural monitoring system feasible by being consistent, repeatable,
                    routine, rapid, and
                    scalable.</p>
                <footer><cite title="Source Title">2012, Thenkabail, Prasad S. et al;</cite>
                </footer>
            </blockquote>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <a name="Data" class="shifted-anchor">&nbsp;</a>

        <div class="row">
            <div class="col-md-5">
                <h2>Our Data</h2>

                <p class="lead"> The GFSAD products are freely available for educational, research,
                    or
                    commercial
                    applications. If
                    you wish to cite the GFSAD products in a report or publication please cite:
                </p>

                <p>
                    <em>
                        Thenkabail P.S., Knox J.W., Ozdogan, M., Gumma, M.K., Congalton, R.G., Wu,
                        Z.,
                        Milesi, C.,
                        Finkral,
                        A.,
                        Marshall, M., Mariotto, I., You, S. Giri, C. and Nagler, P. 2012. Assessing
                        future risks to
                        agricultural
                        productivity, water resources and food security: how can remote sensing
                        help?.
                        Photogrammetric
                        Engineering and Remote Sensing, August 2012 Special Issue on Global
                        Croplands:
                        Highlight
                        Article.
                        78(8):
                        773-782.
                    </em>

                </p>


                <p>
                    <em>
                        Teluguntla, P., Thenkabail, P.S., Xiong, J., Gumma, M.K., Giri, C., Milesi,
                        C.,
                        Ozdogan, M.,
                        Congalton,
                        R., Tilton, J., Sankey, T.R., Massey, R., Phalke, A., and Yadav, K. 2014.
                        Global Cropland Area
                        Database
                        (GCAD) derived from Remote Sensing in Support of Food Security in the
                        Twenty-first Century:
                        Current
                        Achievements and Future Possibilities. Chapter 7, Vol. II. Land Resources:
                        Monitoring,
                        Modelling,
                        and
                        Mapping, Remote Sensing Handbook edited by Prasad S. Thenkabail.
                    </em>
                </p>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-sm-4 col-md-4 center">
                        <img class="img-circle"
                             src="http://cache.croplands.org/static/images/sat.jpg"
                             alt="Map">

                        <h2>LP DAAC</h2>


                        <p>Download Our Data at LP DAAC.</p>

                        <p><a class="btn btn-danger"
                              href="https://lpdaac.usgs.gov/products/measures_products_table"
                              role="button" target="_blank">USGS LP DAAC &raquo;</a>
                        </p>
                    </div>
                    <div class="col-sm-4 col-md-4 center">
                        <img class="img-circle"
                             src="http://cache.croplands.org/static/images/sat.jpg"
                             alt="Map">

                        <h2>OGC Server</h2>


                        <p>Our data is available through our WMS.
                        </p>

                        <p><a class="btn btn-danger"
                              href="http://cache.croplands.org/static/getcapabilities.xml"
                              role="button">View
                            Capabilities &raquo;</a>
                        </p>
                    </div>
                    <div class="col-sm-4 col-md-4 center">
                        <img class="img-circle"
                             src="http://cache.croplands.org/static/images/servers.jpg" alt="Map">

                        <h2>Earth Engine</h2>


                        <p>Analyze our data on Google Earth Engine.
                        </p>

                        <p><a class="btn btn-danger" href="https://earthengine.google.org/"
                              role="button">Go to Earth
                            Engine &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">

    <a name="Team" class="shifted-anchor">&nbsp;</a>

    <div class="row" style="padding-bottom: 15px;">


        <div class="col-md-4 col-md-offset-1">
            <h2>Meet the Team</h2>

            <p>In 2013, the US Geological Survey’s (USGS) John Wesley Powell Center launched a
                major
                new initiative – an international Working Group on Global Croplands (WGGC) and
                their Water Use for
                Food Security in the Twenty-first Century, led by Dr. Prasad Thenkabail (Research
                Geographer) from
                the USGS. Prasad has assembled a group of scientists from across the world, with
                skills spanning the
                disciplines necessary to grapple with these issues – to harness and share their
                collective knowledge
                on remote sensing, crop modelling, food security, water management and geographical
                information
                management.</p>
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
            <img class="centertte-image img-responsive img-rounded"
                 src="http://cache.croplands.org/static/images/team_photo.jpg"
                 alt="Team Photo">
        </div>
        <div class="col-md-4">

            <ul>
                <li>Prasad Thenkabail, PI, USGS</li>
                <li>Cristina Milesi, co-I, NASA AMES\CSUMB</li>
                <li>Mutlu Ozdogan, co-I, UW</li>
                <li>Russ Congalton, co-I, UNH
                </li>
                <li>Chandra Giri, co-I, USGS EROS
                </li>
                <li>James Tilton, co-I, NASA GSFC
                </li>
                <li>Temuulen Teki, co-I, NAU
                </li>
                <li>Pardhasaradhi Teluguntla, Research Scientist, BAERI\USGS
                </li>
                <li>Jun Xiong, Post doc, NAU\USGS
                </li>
                <li>
                    Dr. Murali Krishna Gumma, ICRISAT
                </li>
                <li>Richard Massey, PhD student, NAU/USGS
                </li>
                <li>Aparna Phalke, PhD student, UW
                </li>
                <li>Kamini Yadav, PhD student, UNH
                </li>
                <li>Gu Jianyu, PhD student, UNH
                </li>
                <li>Justin Poehnelt, NAU/USGS
                </li>

            </ul>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img class='center-block img-thumbnail thumbnail-noborder partners'
                     src="http://www.usgs.gov/images/header_graphic_usgsIdentifier_white.jpg"/>
                <img class='center-block img-thumbnail thumbnail-noborder partners'
                     src="http://cache.croplands.org/static/images/nasa.jpg"/>
                <ul class="list-unstyled">


                </ul>
            </div>
            <div class="col-sm-3">
                <address>
                    <strong>USGS Flagstaff</strong><br>
                    Prasad Thenkabail<br>
                    2255 North Gemini Drive<br>
                    Flagstaff, AZ 86001-1637<br>
                </address>
            </div>
            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="mailto:info@croplands.org" target="_top">Contact</a>
                    </li>
                    <li>
                        <a href="http://www.usgs.gov/laws/accessibility.html"
                           title="Accessibility Policy (Section 508)">Accessibility</a>
                    </li>
                    <li>
                        <a href="http://www.usgs.gov/foia/" title="Freedom of Information Act">Freedom
                            of
                            Information Acts</a>
                    </li>
                    <li>
                        <a href="http://www.usgs.gov/laws/privacy.html"
                           title="Privacy policies of the U.S. Geological Survey.">Privacy</a>
                    </li>
                    <li>
                        <a href="http://www.usgs.gov/laws/policies_notices.html"
                           title="Policies and notices that govern information posted on USGS Web sites.">Policies
                            and Notices</a>
                    </li>

                </ul>


            </div>

        </div>
    </div>
</footer>
</div>