<div class="container-fluid" style="padding-left:0px;padding-right:0px;">
<leaflet id="map"
         center="center"
         markers="markers"
         event-broadcast="events"
         layers="layers"
         paths="paths"
         ng-class="{'selectionCursor': selectionAreaActive || addLocationActive}"
         watch-markers="no">
</leaflet>

<div id="app-controls">
<div class="control-top control-left">
    <div class="control" id="map-controls" class="form form-inline">
        <div class="btn-group">
            <button id="contentsBtn" type="button"
                    class="btn btn-sm btn-default btn-warning"
                    ng-class="{'active': $parent.tableOfContentsVisible}"
                    ng-click="$parent.tableOfContentsVisible = !$parent.tableOfContentsVisible"
                    data-title="Layers" bs-tooltip blur>
                <i class="fa fa-fw fa-database"></i></button>
            <button type="button"
                    class="btn btn-sm btn-default btn-warning"
                    ng-click="filters.visible = !filters.visible"
                    ng-class="{'active': filters.visible}"
                    blur
                    data-title="Filter Locations" bs-tooltip>
                <i class="fa fa-fw fa-filter"></i>

            </button>
            <button type="button"
                    class="btn btn-sm btn-default btn-warning"
                    ng-click="table.visible = !table.visible"
                    ng-class="{'active': table.visible}"
                    blur
                    data-title="Show Data Table" bs-tooltip>
                <i class="fa fa-fw fa-table"></i>
            </button>
        </div>
        <div class="btn-group">
            <button type="button"
                    id="zoomToWorld"
                    class="btn btn-sm btn-default btn-danger "
                    data-title="Zoom to World" bs-tooltip
                    ng-click="zoomExtent($event)">
                <i class="fa fa-fw fa-globe"></i>
            </button>
            <button type="button"
                    id="zoomInBtn"
                    class="btn btn-sm btn-default btn-danger "
                    ng-click="$parent.center.zoom = $parent.center.zoom + 1"
                    data-title="Zoom In" bs-tooltip blur>
                <i class="fa fa-fw fa-plus"></i>
            </button>
            <button type="button"
                    id="zoomOutBtn"
                    class="btn btn-sm btn-default btn-danger "
                    ng-click="$parent.center.zoom = $parent.center.zoom - 1"
                    data-title="Zoom Out" bs-tooltip blur>
                <i class="fa fa-fw fa-minus"></i>
            </button>
        </div>
        <button id="selectAreaBtn" type="button"
                class="btn btn-sm btn-default btn-primary"
                ng-class="{'active': selectionAreaActive}"
                ng-click="selectArea()"
                data-title="Select Area" bs-tooltip blur>
            <i class="fa fa-fw fa-square-o"></i>
        </button>
        <div class="btn-group">
            <button type="button"
                    class="btn btn-sm btn-default btn-primary disabled"
                    ng-class="{'active': addLocationActive}"
                    ng-click="addLocation($event)"
                    data-title="Add Location to Map"
                    bs-tooltip blur>
                <i class="fa fa-fw fa-map-marker"></i>
            </button>
            <button type="button"
                    class="btn btn-sm btn-default btn-primary disabled"
                    ng-click="filterBySelection()"
                    ng-class="{'disabled': !paths.selection.created  || paths.selection.cropped}"
                    data-title="Crop Markers" bs-tooltip blur>
                <i class="fa fa-fw fa-crop"></i>

            </button>
            <button type="button"
                    class="btn btn-sm btn-default btn-primary "
                    ng-click="resetGroundData($event)"
                    data-title="Remove Selection" bs-tooltip blur>
                <i class="fa fa-fw fa-remove"></i>
            </button>

            <button type="button"
                    id="refreshMarkersBtn"
                    class="btn btn-sm btn-default btn-primary" ng-click="refreshLocations()"
                    data-title="Refresh Location Data"
                    bs-tooltip blur>
                <i class="fa fa-fw fa-refresh"></i>
            </button>

        </div>

        <div class="btn-group">
            <button type="button"
                    class="btn btn-sm btn-default btn-success"
                    ng-click="$parent.showDownloadModal = !$parent.showDownloadModal"
                    data-title="Download Data"
                    bs-tooltip blur>
                <i class="fa fa-fw fa-cloud-download"></i>
            </button>
            <button type="button"
                    class="btn btn-sm btn-default btn-success disabled"
                    ng-click="print($event)"
                    data-title="Print"
                    bs-tooltip blur>
                <i class="fa fa-fw fa-print"></i>
            </button>
        </div>

        <div class="control am-slide-left" id="table" ng-show="table.visible">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-close" d
                       ng-click="table.visible = false;"></i>
                    <h5 class="panel-title"><i class="fa fa-fw fa-table"></i> Data Table</h5>
                </div>
                <div class="panel-body" style="min-width: 475px;">
                    <div data-location-record-list data-records="markers" data-page="table.page"
                         data-page-size="table.pageSize" data-show-zoom="true"></div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="control-top control-right">
    <div class="control am-slide-right" id="layers" ng-show="tableOfContentsVisible">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-close"
                   ng-click="tableOfContentsVisible = !tableOfContentsVisible;"></i>
                <h5 class="panel-title"><i class="fa fa-fw fa-database"></i> Map Layers</h5>
            </div>
            <div class="panel-body">
                <h5>Background Layers</h5>

                <div class="radio" ng-repeat="(key, layer) in layers.baselayers">
                    <label>
                        <input type="radio" name="backgroundRadios" ng-model="layer.visible"
                               ng-value="true"
                               id="backgroundRadios-{{ $index }}" ng-click="changeBaseLayer(key)">
                        {{ layer.name }}
                    </label>
                </div>

                <h5>Our Products and Data</h5>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="layers.overlays.gfsad1000v00.visible"
                               ng-value="true">
                        {{ layers.overlays.gfsad1000v00.name }}
                        <i class="fa fa-caret-down"
                           ng-click="toggleLayerInfo(layers.overlays.gfsad1000v00,$event)"></i>
                    </label>

                </div>
                <div ng-show="layers.overlays.gfsad1000v00.infoVisible" class="am-fade"
                     style="padding: 0 10px 10px 15px;">

                    <legend items="layers.overlays.gfsad1000v00.legend"></legend>
                    <div class="range">
                        <label class="control-label small" for="opacitySliderV00">Opacity </label>

                        <input type="range" id="opacitySliderV00"
                               ng-model="layers.overlays.gfsad1000v00.layerOptions.opacity" max="1"
                               min="0"
                               step=".01"/>
                    </div>
                    <div class="small"
                         ng-bind-html="layers.overlays.gfsad1000v00.layerOptions.attribution | unsafe"></div>


                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="layers.overlays.gfsad1000v10.visible"
                               ng-value="true">
                        {{ layers.overlays.gfsad1000v10.name }} <i class="fa fa-caret-down fa-fw"
                                                                   ng-click="toggleLayerInfo(layers.overlays.gfsad1000v10,$event)"></i>
                    </label>

                </div>
                <div ng-show="layers.overlays.gfsad1000v10.infoVisible" class="am-fade"
                     style="padding: 0 10px 10px 15px;">
                    <legend items="layers.overlays.gfsad1000v10.legend"></legend>
                    <div class="range">
                        <label class="control-label small" for="opacitySliderV10">Opacity </label>

                        <input type="range" id="opacitySliderV10"
                               ng-model="layers.overlays.gfsad1000v10.layerOptions.opacity" max="1"
                               min="0"
                               step=".01"/>
                    </div>
                    <div class="small"
                         ng-bind-html="layers.overlays.gfsad1000v10.layerOptions.attribution | unsafe"></div>

                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="layers.overlays.locations.visible"
                               ng-value="true">
                        Training and Validation Data
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="control-bottom control-right">
    <div data-filter class="am-slide-right" data-visible="filters.visible"
         data-active-filters="filters.activeFilters" ng-show="filters.visible"></div>
</div>
<div class="control-bottom control-left">
    <location class="am-slide-left ng-hide" data-location-id="location.data_id"
              data-lon="location.lon"
              data-lat="location.lat" data-visible="location.visible" ng-show="location.visible"
              ng-cloak></location>
</div>
<div class="control-center-top">
    <div class="control am-fade-and-slide-top" ng-show="showRecordEditForm">
        <div class="panel panel-primary" style="max-width: 300px;">
            <div class="panel-heading">
                <i class="fa fa-close" ng-click="closeRecordEditForm()"></i>

                <h5 class="panel-title"><i class="fa fa-edit"></i> Edit Record</h5>
            </div>
            <div class="panel-body" style="min-height:100px;">
                <div data-location-record-edit-form data-record="record"></div>
            </div>
        </div>
    </div>
</div>
</div>

<div id="busy" class="modal am-fade" ng-show="busy">
    <div class="modal-dialog modal-sm">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-close" ng-show="!busy" ng-click="busyDialogVisible = false"></i>

                <h5 class="panel-title"><i class="fa fa-refresh fa-spin"></i> Working</h5>
            </div>
            <div class="panel-body" style="min-height:100px;">
                <div data-log></div>
            </div>
        </div>
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="downloads" class="modal am-fade" ng-show="showDownloadModal">
    <div class="modal-dialog modal-sm">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-close" ng-click="showDownloadModal = false"></i>

                <div class="panel-title">Download Data</div>
            </div>
            <div class="panel-body">
                <p class="small">This location data is made available under the <a
                        href="http://opendatacommons.org/licenses/odbl/1.0/">Open Database
                    License</a>.
                    Any rights in individual contents of the database are licensed under the <a
                            href="http://opendatacommons.org/licenses/dbcl/1.0/">Database Contents
                        License</a>
                </p>
                <ul class="list-unstyled">
                    <li>
                        <button type="button"
                                class="btn btn-xs btn-success"
                                ng-click="downloadLocations()"
                                ng-class="{'disabled': !canDownloadFiles}"
                                blur>
                            <i class="fa fa-fw fa-save"></i> Download CSV
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</div>