<div class="control" id="filters">
    <div class="panel panel-primary am-slide-left">
        <div class="panel-heading clearfix">
            <i class="fa fa-close" ng-click="visible = !visible"></i>
            <h5 class="panel-title"> <i class="fa fa-fw fa-filter"></i> Map Filters</h5>
        </div>
        <div class="panel-body">

            <div class="well well-xs">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group" ng-repeat="type in landUseType">
                        <button type="button"
                                ng-click="type.selected = !type.selected"
                                ng-class="{'active': type.selected}"
                                class="btn btn-danger btn-xs "
                                blur>
                            {{ type.label }}
                        </button>
                    </div>
                </div>
            </div>

            <div class="well well-xs">
                <button class="btn btn-primary btn-xs btn-crop"
                        ng-click="toggleAllOptions('years')"
                        blur>
                    <i class="fa fa-fw fa-square-o" ng-show="!allOptionsAreSelected('years')"></i>
                    <i class="fa fa-fw fa-check-square-o" ng-show="allOptionsAreSelected('years')"></i>
                </button>
                <button class="btn btn-primary btn-xs btn-crop"
                        ng-class="{'active': year.selected}"
                        ng-repeat="year in years"
                        ng-click="year.selected = !year.selected"
                        blur>{{ year.label }}</button>
            </div>
            <div class="well well-xs">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">

                    <div class="btn-group" role="group" ng-repeat="intensityLevel in intensity">
                        <button type="button"
                                ng-click="intensityLevel.selected = !intensityLevel.selected"
                                ng-class="{'active': intensityLevel.selected}"
                                class="btn btn-warning btn-xs "
                                blur>
                            {{ intensityLevel.label }}
                        </button>
                    </div>
                </div>
            </div>

            <div class="well well-xs">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group" ng-repeat="waterUseType in water">
                        <button type="button"
                                ng-click="waterUseType.selected = !waterUseType.selected"
                                ng-class="{'active': waterUseType.selected}"
                                class="btn btn-info btn-xs "
                                blur>
                            {{ waterUseType.label }}
                        </button>
                    </div>

                </div>
            </div>

            <div class="well well-xs">

                <button class="btn btn-success btn-xs btn-crop"
                        ng-click="toggleAllOptions('crops')"
                        blur>
                    <i class="fa fa-fw fa-square-o" ng-show="!allOptionsAreSelected('crops')"></i>
                    <i class="fa fa-fw fa-check-square-o" ng-show="allOptionsAreSelected('crops')"></i>

                </button>

                <button class="btn btn-success btn-xs btn-crop"
                        ng-class="{'active': crop.selected}"
                        ng-repeat="crop in crops"
                        ng-click="crop.selected = !crop.selected"
                        blur>{{ crop.label }}</button>
            </div>

        </div>
        <div class="panel-footer" style="text-align: right">
            <small style="margin-right: 20px;">Total: {{ countAll | number }} &nbsp;
                Filtered: {{ countFiltered | number }}
                <i class="fa fa-exclamation-triangle"
                   ng-show="filteredRecords > filteredMarkers"
                   data-title="Max of 10,000"
                   data-placement="left"
                   bs-tooltip></i></small>
            <button class="btn btn-default btn-xs" ng-click="reset()" blur>Reset</button>
            <button class="btn btn-primary btn-xs" ng-click="apply()" blur>Apply</button>
        </div>
    </div>
</div>