<div class="form-group">
    <label for="year">Year</label>
    <select name="year" class="form-control input-sm"
            ng-model="record.year"
            ng-options="year.id as year.label for year in years">
    </select>
</div>
<div class="form-group">
    <label for="year">Land Use Type</label>
    <select name="year" class="form-control input-sm"
            ng-model="record.land_use_type"
            ng-options="type.id as type.label for type in landUseTypes">
    </select>
</div>
<div class="am-fade" ng-show="record.land_use_type === 1">
    <div class="form-group">
        <label for="year">Water Source</label>
        <select name="year" class="form-control input-sm"
                ng-model="record.water"
                ng-options="w.id as w.label for w in water">
        </select>
    </div>
    <div class="form-group">
        <label for="year">Crop Intensity</label>
        <select name="year" class="form-control input-sm"
                ng-model="record.intensity"
                ng-options="i.id as i.label for i in intensity">
        </select>
    </div>
    <div class="form-group">
        <label for="year">Primary Crop</label>
        <select name="year" class="form-control input-sm"
                ng-model="record.crop_primary"
                ng-options="crop.id as crop.label for crop in crops">
        </select>
    </div>
    <div class="form-group">
        <label for="year">Secondary Crop</label>
        <select name="year" class="form-control input-sm"
                ng-model="record.crop_secondary"
                ng-options="crop.id as crop.label for crop in crops">
        </select>
    </div>
</div>
<div class="right">
    <button class="btn btn-primary btn-sm" ng-click="save()" blur>
        <icon class="fa fa-fw fa-save"></icon>
        Save
    </button>
    <button class="btn btn-default btn-sm" ng-click="cancel()" blur> Cancel</button>
</div>
