<div data-location-record data-record="record" data-show-zoom="showZoom" ng-repeat="record in pagedRecords[page]">
</div>


<nav class="center" ng-show="pagedRecords.length > 1">
    <ul class="pagination pagination-sm">
        <li ng-class="{'disabled': page === 0}">
            <a ng-click="setPage(0)" blur>
                <icon class="fa fa-fw fa-fw fa-angle-double-left"></icon>
            </a>
        </li>
        <li ng-class="{'disabled': page ===0}">
            <a ng-click="previous()" blur>
                <icon class="fa fa-fw fa-angle-left"></icon>
            </a>
        </li>
        <li ng-repeat="n in range(pagedRecords.length)" ng-click="setPage(n)"
            ng-class="{'active': n === page}"
            ng-if="n + 1 >=page && n <= page|| n-1 <=page && n >= page || n-2 === page || n+2 === page || page <=2 && n <=4 || page >=pagedRecords.length - 3 && n >=pagedRecords.length - 5"
            blur>
            <a href ng-bind="n + 1"></a>
        </li>
        <li ng-class="{'disabled': page === pagedRecords.length - 1}">
            <a ng-click="next()" blur>
                <icon class="fa fa-fw fa-angle-right"></icon>
            </a>
        </li>
        <li ng-class="{'disabled': page === pagedRecords.length - 1}">
            <a ng-click="setPage(pagedRecords.length - 1)" blur>
                <icon class="fa fa-fw fa-angle-double-right"></icon>
            </a>
        </li>
    </ul>
</nav>
<span class="center small" ng-hide="pagedRecords.length">No data to display.</span>