<div class="form-group">
    <label class="control-label" for="password">Password</label>
    <input class="form-control" ng-model="password"
           name="password" type="password"
           value=""
           placeholder="Password"
           required>
</div>
<div class="form-group">
    <label class="control-label" for="confirm">Confirm Password</label>
    <input class="form-control" ng-model="confirm"
           name="confirm"
           type="password"
           value=""
           placeholder="Password" required>
</div>
<div>
    <p ng-class="passwordIsStrong() ? 'text-success' : 'text-danger'">
        <icon class="fa fa-fw"
              ng-class="passwordIsStrong() ? 'fa-check' : 'fa-times'"></icon>
        Password is sufficiently strong.
    </p>
    <p ng-class="passwordsMatch() ? 'text-success' : 'text-danger'">
        <icon class="fa fa-fw"
              ng-class="passwordsMatch() ? 'fa-check' : 'fa-times'"></icon>
        Passwords match.
    </p>
</div>