<div class="modal modal-bg" >
    <div class="modal-dialog">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <i class="fa fa-close panel-close" ng-click="registerClose()"></i>
                <h5 class="panel-title panel-float">Register</h5>
            </div>
            <div class="panel-body">
                <form name="registrationForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="first">First Name</label>
                                <input class="form-control" id="first" name="first" type="text"
                                       ng-model="registration.first"
                                       placeholder="First Name"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="last">Last Name</label>
                                <input class="form-control" id="last" name="last" type="text"
                                       ng-model="registration.last"
                                       placeholder="Last Name"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="organization">Organization <span class="small">(Optional)</span></label>
                                <input class="form-control" id="organization" name="organization"
                                       type="text"
                                       ng-model="registration.organization"
                                       placeholder="Organization"
                                        >
                            </div>
                            <div class="form-group">
                                <label for="country">Country <span class="small">(Optional)</span></label>
                                <select id="country" class="form-control"
                                        ng-options="c for c in countries"
                                        ng-model="registration.country"></select>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" id="email" name="email" type="email"
                                       ng-model="registration.email"
                                       placeholder="Email"
                                       required>
                            </div>
                            <div data-password-confirm data-valid="registration.passwordValid"
                                 data-min-entropy="30"
                                 data-password="registration.password">
                            </div>
                            <p ng-class="registrationForm.email.$valid ? 'text-success' : 'text-danger'">
                                <icon class="fa fa-fw"
                                      ng-class="registrationForm.email.$valid ? 'fa-check' : 'fa-times'"></icon>
                                Valid email address.
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-block btn-default btn-primary"
                                ng-class="{'disabled': !registration.passwordValid || !registrationForm.$valid || busy}"
                                ng-click="register()" blur>Register
                        </button>
                    </div>
                    <div class="alert"
                         ng-show="registration.message.length"
                         ng-class="{'alert-success': success, 'alert-danger': !success}">
                        <strong ng-show="success">Success!</strong>
                        <strong ng-show="!success">Error!</strong>
                        {{ registration.message }}
                    </div>

                </form>
                <button class="btn btn-sm btn-default btn-default" ng-click="forgot()" blur>Forgot</button>
                <button class="btn btn-sm btn-default btn-default" ng-click="login()" blur>Login</button>
            </div>
        </div>
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->